@import '../styles/mediaQueries.module.scss'; 

:global {
  #root {
    @media #{$screen-mobile} {
      margin: 20px;
    }
  }
}

.appWrap {
  text-align: center;
  width: 100%;;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  @media #{$screen-tablet} {
    max-width: 450px;
  }

  @media #{$screen-mobile} {
    max-width: 350px;
  }
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}
